.indent-50px{
text-indent: 50px;
}
.normal {
font-style: normal;
}

.italic {
font-style: italic;
}
.decoration{
text-decoration: overline;  
}
.oblique {
font-style: oblique;
}
.normal {
    font-weight: normal;
}

.light {
    font-weight: lighter;
}

.thick {
    font-weight: bold;
}

.thicker {
    font-weight: 900;
}